# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# original
.DS_Store
__pycache__/

/Manifold/VirtualLink/experiment/C250704Python.m

/Manifold/VirtualLink/experiment/C250720Experiment.m

/Manifold/VirtualLink/experiment/CP_RHS_mid.mat

/Manifold/VirtualLink/experiment/SageLinkInput.py

/Manifold/VirtualLink/experiment/comparisonReport.pdf

/Manifold/VirtualLink/experiment/diskexpr.m

/Manifold/VirtualLink/experiment/hopffibration.m

/Manifold/VirtualLink/experiment/mip.py

/Manifold/VirtualLink/experiment/plotLinkOriginal.py

/Manifold/VirtualLink/experiment/plot_expr.m

/Manifold/VirtualLink/experiment/vl_issue.mat
